<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>8BBA26F4-FB3F-B9A3-EC96-824CCFDBD30C</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
